
$color:#222;
$bg:#E3E3E5;
$linkColor:#F80;
$linkHover:#222;
$contentColor:#666;
$h2:1.2em;

@mixin gradient($param...){
    background:-moz-linear-gradient($param);
    background:-webkit-linear-gradient($param);
    background:-o-linear-gradient($param);
    background:linear-gradient($param);
}
@mixin transform($param){
   -moz-transform:$param;
   -webkit-transform:$param;
   -o-transform:$param;
   transform:$param;
}
@mixin transition($param...){
   -moz-transition:$param;
   -webkit-transition:$param;
   -o-transition:$param;
   transition:$param;
}
@mixin _transition($param){
   -moz-transition:-moz-#{$param};
   -webkit-transition:-webkit-#{$param};
   -o-transition:-o-#{$param};
   transition:$param;
}
@mixin animation($param...){
   -moz-animation:$param;
   -webkit-animation:$param;
   -o-animation:$param;
   animation:$param;
}
@mixin keyframes($name){
  @-webkit-keyframes #{$name}{
     @content
  }
  @-moz-keyframes #{$name}{
     @content
  }
  @-o-keyframes #{$name}{
     @content
  }
  @keyframes #{$name}{
     @content
  }
}

html{font-size:625%;height:100%;-webkit-text-size-adjust:none;}
body{min-width:320px;max-width:1000px;height:100%;margin:0 auto;color:$color;padding:0;font:normal 14px/1.8 "Microsoft YaHei",Verdana,Tahoma;background-color:$bg;}
a{text-decoration:none;color:$linkColor;}
a:visited{color:#800080;}
a:hover{color:$linkHover !important;}
a[disabled]{color:#999!important;cursor:text;pointer-events:none;}
ul{margin:0;padding:0;list-style-type:none;}
img{max-width:100%;}
.hide{display:none !important;}
.show{display:block !important;}
.container:after,
.clearfix:after{display:block;content:"";height:0;clear:both;}

.wrapper{position:relative;}
.header{position:relative;min-height:3em;}
.header>p{color:#999;margin:.5em 0;}
.header_cvs{position:absolute;left:0;top:0;width:100%;height:100%;z-index:-1;}
.header>h1{font-weight:normal;font-size:1.8em;margin-bottom:.5em;}
.nav>a{font-size:1.2em;color:#506F70;}

.main{width:73%;min-height:70vh;float:left;background:#FFF;}
.main>.loading{padding-top:5em;text-align:center;color:#999;}
.loading-icon{position:relative;margin-right:.8em;}
.loading-icon:before{position:absolute;content:"";top:.2em;width:0em;height:.6em;border:1px solid #222;
@include animation(ani_rotate 1s infinite);
}
.main-effect{opacity:0;}
.main-title{margin:0 .5em;padding:1em;padding-bottom:.6em;font-size:$h2;font-weight:normal;letter-spacing:.2em;background:url('data:image/svg+xml,<svg width="5" height="6" version="1.1" xmlns="http://www.w3.org/2000/svg"><line x1="1" y1="1" x2="5" y2="5" stroke-linecap="round" stroke="#999999" /></svg>') repeat-x 0 100%;}
.article-list{margin:1em;@include transition(opacity 1s);}
.article-item{margin-bottom:2em;}
.article-item:after{display:block;content:"";height:0;clear:both;}

.bgimg{display:block;width:27%;height:0;padding-top:20%;background:none no-repeat 50% 50%;background-size:contain;}
.item-title{display:inline-block;font-size:1.2em;margin-bottom:.4em;}
.item-title:before{display:inline-block;content:"";width:0;height:0;border:.4em solid transparent;border-left-color:#999;}
.item-title:hover:before{border-left-color:#222;}
/*.item-wrap{color:$contentColor;}*/
.item-wrap>.bgimg{position:relative;overflow:hidden;}
.item-wrap>.bgimg:after{position:absolute;content:"";left:0;top:25%;width:150%;height:35%;
 @include gradient(top,rgba(255,255,255,0),rgba(255,255,255,.1),rgba(255,255,255,0));
 @include transform(translatex(-100%) rotate(-45deg));
}
.item-wrap>.bgimg:hover:after{
  @include _transition(transform 1.8s ease-in-out);
  @include transform(translatex(100%) rotate(-45deg));
}
.item-content,
.item-bar{width:71%; float:right;}
.item-content{margin-top:0; min-height:7.5em;}
.item-bar{text-align:right;}
.item-wrap>.bgimg{float:left;box-shadow:0 0 0 2px #FFF,0 0 0 3px #CCC;}
.list-date,
.list-cat{display:inline-block;min-width:9em;margin-right:.5em;text-align:left;}
.list-read{display:inline-block;border:1px solid #AC9696;width:7em;border-radius:3px;margin-right:1em;text-align:center;}

.aside{width:26%;float:right;}
.aside>div{padding:.8em 1em;background:#FFF;}
.r_title{margin:0 0 .5em;padding:.2em .5em;font-size:$h2;font-weight:500;border-bottom:1px solid #555;}
.avatar{display:block;max-width:230px;margin:0 auto;}
.r_about>p{margin:.5em 2em;color:#5D5D5D;}
.r_cat{border-top:.75em solid $bg;}
.r_cat>h3{margin:0;padding:.5em;font-size:1em;font-weight:500;border-bottom:1px solid #555;}
.r_list{line-height:1.8;}
.r_list>li>a{display:inline-block;width:100%;vertical-align:middle;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.r_list>li>a{color:#444;}
.r_list>li>a:hover{color:$linkColor !important;}

.footer{margin-top:1em;border-top:1px solid #CCC;padding-top:.5em;color:#999;font-size:.72em;text-align:center;}

@include keyframes(ani_rotate){
  100%{transform:rotate(360deg)}
}

#toTop{position:fixed;z-index:100;bottom:-5em;right:1em;width:2.6em;height:2.6em;line-height:2.6em;color:#FFF;text-align:center;border-radius:50%;background:rgba(0,0,0,.8);cursor:pointer;@include transition(bottom .8s);}
#toTop.show{bottom:3em;}

/* article */
.article{margin:0 1em;padding-bottom:3em;@include transition(opacity 1s);}
.article>h3{text-align:center;font-size:1.2em;font-weight:500;margin-bottom:.5em;}
.article>.intro{margin-bottom:1em;color:#999;text-align:center;}
.article>img{display:block;margin:1em auto;}
.article>p{text-indent:2em;}
.article .red{color:red;}
.article>.code-common{margin: 1em 0;padding: 15px 100px 15px 15px;border: 1px dashed #ccc;background: #f7f7f7;white-space:pre-wrap;}

.code-js{color:#800;}
.c-cmt{color:#008000;}
.c-str{color:#F0F;}
.c-num{color:#800080;}
.c-kw{color:#00F;}
.c-o{color:#F00;}
.c-tag{color:#881280;}
.c-pn{color:#994500;}
.c-pv{color:#1A1AA6;}

@media screen and (max-width:930px){
  .header{width:94%;margin:0 3%;}
  .main{width:94%;margin:0 3%;float:none;}
  .aside{visibility:hidden;position:fixed;z-index:100;width:100%;float:none;min-width:320px;height:100%;left:0;top:0;overflow-x:hidden;background:rgba(0,0,0,0);
    @include transition(all .7s);
  }
  .r_about{display:none;}
  .r_cat{position:absolute;left:30%;top:0;width:70%;height:100%;box-sizing:border-box;
   @include transform(translateX(101%) translateZ(0));
   @include _transition(transform .7s);
  }
  .aside-show{visibility:visible;background:rgba(0,0,0,.8);}
  .aside-show>.r_cat{
    @include transform(translateX(0) translateZ(0));
  }
  .menu-btn{position:fixed;z-index:99;top:10%;right:3%;width:2.6em;height:2.6em;border-radius:.2em;background:rgba(255,255,255,.5);box-shadow:0 0 5px rgba(204,204,204,.5);border:1px solid #FFF;cursor:pointer;
  @include transition(border-color .8s);
  }
  .menu-btn:hover{border-color:#CCC;background:#FFF;}
  .menu-btn:before{position:absolute;content:"";left:0;top:0;right:0;bottom:0;margin:auto;height:1px;width:60%;background:#CCC;}
  .menu-btn:after{position:absolute;content:"";left:0;top:0;right:0;bottom:0;margin:auto;height:40%;width:60%;border-top:1px solid #CCC;border-bottom:1px solid #CCC;}
}
@media screen and (max-width:640px){
 .item-wrap>.bgimg{float:none;width:auto;padding-top:74%;margin-bottom:.8em;}
 .item-content,
 .item-bar{width:100%;float:none;}
}
